#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig MULTICELL_LOCATION
	bool "Multicell Location"
	depends on NRF_MODEM_LIB
	depends on LTE_LINK_CONTROL
	select MODEM_KEY_MGMT
	select CJSON_LIB

if MULTICELL_LOCATION

choice MULTICELL_LOCATION_SERVICE
	prompt "Location service"
	default MULTICELL_LOCATION_SERVICE_NONE

config MULTICELL_LOCATION_SERVICE_NONE
	bool "No location service"

config MULTICELL_LOCATION_SERVICE_HERE
	bool "HERE location service"

config MULTICELL_LOCATION_SERVICE_SKYHOOK
	bool "Skyhook location service"

config MULTICELL_LOCATION_SERVICE_POLTE
	bool "Polte location service"

endchoice

if MULTICELL_LOCATION_SERVICE_HERE
choice MULTICELL_LOCATION_SERVICE_HERE_VERSION
	prompt "HERE Positioning API version"
	default MULTICELL_LOCATION_HERE_V2

config MULTICELL_LOCATION_HERE_V1
	bool "HERE API v1"

config MULTICELL_LOCATION_HERE_V2
	bool "HERE API v2"

endchoice

choice MULTICELL_LOCATION_HERE_AUTH_METHOD
	prompt "HERE authentication method"
	default MULTICELL_LOCATION_HERE_USE_API_KEY

config MULTICELL_LOCATION_HERE_USE_API_KEY
	bool "Use API key"

config MULTICELL_LOCATION_HERE_USE_APP_CODE_ID
	bool "Use app code and ID"

endchoice

config MULTICELL_LOCATION_HERE_HOSTNAME
	string "HERE hostname"

config MULTICELL_LOCATION_HERE_API_KEY
	string "HERE API key"
	depends on MULTICELL_LOCATION_HERE_USE_API_KEY

if MULTICELL_LOCATION_HERE_USE_APP_CODE_ID
config MULTICELL_LOCATION_HERE_APP_CODE
	string "HERE APP code"

config MULTICELL_LOCATION_HERE_APP_ID
	string "HERE APP ID"

endif # MULTICELL_LOCATION_HERE_USE_APP_CODE_ID
endif # MULTICELL_LOCATION_SERVICE_HERE

if MULTICELL_LOCATION_SERVICE_SKYHOOK

config MULTICELL_LOCATION_SKYHOOK_API_KEY
	string "Skyhook API key"

config MULTICELL_LOCATION_SKYHOOK_HOSTNAME
	string "Skyhook hostname"

endif # MULTICELL_LOCATION_SERVICE_SKYHOOK

if MULTICELL_LOCATION_SERVICE_POLTE

config MULTICELL_LOCATION_POLTE_CUSTOMER_ID
	string "Polte customer ID"

config MULTICELL_LOCATION_POLTE_API_TOKEN
	string "Polte API token"

endif # MULTICELL_LOCATION_SERVICE_POLTE

config MULTICELL_LOCATION_HTTPS_PORT
	int "HTTPS port number"
	default 443

config MULTICELL_LOCATION_HOSTNAME
	string "Server hostname"
	default "pos.api.here.com" if MULTICELL_LOCATION_HERE_V1
	default "positioning.hereapi.com" if MULTICELL_LOCATION_HERE_V2
	default "global.skyhookwireless.com" if MULTICELL_LOCATION_SERVICE_SKYHOOK
	default "polte.io" if MULTICELL_LOCATION_SERVICE_POLTE

config MULTICELL_LOCATION_TLS_SEC_TAG
	int "Security tag for TLS certificates"
	default 175 if MULTICELL_LOCATION_SERVICE_HERE
	default 176 if MULTICELL_LOCATION_SERVICE_SKYHOOK
	default 177 if MULTICELL_LOCATION_SERVICE_POLTE
	default -1
	help
	  Security tag where the required TLS certificates for the selected
	  service will be stored.

config MULTICELL_LOCATION_SEND_BUF_SIZE
	int "Send buffer size"
	default 2048 if( MULTICELL_LOCATION_SERVICE_SKYHOOK || MULTICELL_LOCATION_SERVICE_POLTE)
	default 1024
	help
	  Size of the buffer used to store the generated HTTP request that's sent
	  to the location service.

config MULTICELL_LOCATION_RECV_BUF_SIZE
	int "Receive buffer size"
	default 1536 if MULTICELL_LOCATION_SERVICE_POLTE
	default 512
	help
	  Size of the buffer used to store the response from the location
	  service.


module = MULTICELL_LOCATION
module-str = Multicell location
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # MULTICELL_LOCATION
