#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config GPS_BUFFER_MAX
	int "GPS data ringbuffer entries"
	default 8

config SENSOR_BUFFER_MAX
	int "Sensor data ringbuffer entries"
	default 8

config MODEM_DYNAMIC_BUFFER_MAX
	int "Dynamic modem data ringbuffer entries"
	default 1

config MODEM_STATIC_BUFFER_MAX
	int "Static modem data ringbuffer entries"
	default 1

config UI_BUFFER_MAX
	int "UI data ringbuffer entries"
	default 1

config ACCEL_BUFFER_MAX
	int "Accelerometer data ringbuffer entries"
	default 1

config BATTERY_BUFFER_MAX
	int "Battery data ringbuffer entries"
	default 1

module = CLOUD_CODEC
module-str = Cloud codec
source "subsys/logging/Kconfig.template.log_config"
